<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>En Mi Vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <h2>Por qué esta serie es importante en mi vida? </h2>
      <iframe width="100%" height="315" src="assets/mivideo.mp4" frameborder="0" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>
