ion-content {
  --background: url('../../assets/portada3.jpg')0 0/100% 100%;
  background-size: 100% 100%;
}
.page-background {
    background-image: url('../../assets/portada2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  img{
    text-align: center;
    width: auto;
    height: auto;
  }